apiVersion: v1
baseDomain: {{cluster_base_domain}}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{groups[provision_group_masters] | length}}
metadata:
  name: {{cluster_name}}
networking:
  clusterNetworks:
  - cidr: {{cluster_pods_network}}
    hostPrefix: 23
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
pullSecret: '{{openshift_pull_secret}}'
sshKey: '{{ssh_pub_key}}'
